@font-face {
  font-family: "geomanistregular";
  src: url("../assets/fonts/geomanist-regular-webfont.eot") format("eot"), url("../assets/fonts/geomanist-regular-webfont.svg") format("svg"), url("../assets/fonts/geomanist-regular-webfont.ttf") format("ttf"), url("../assets/fonts/geomanist-regular-webfont.woff") format("woff"), url("../assets/fonts/geomanist-regular-webfont.woff2") format("woff2"); }

body {
  font-family: "geomanistregular";
  background-image: url("../assets/images/background.jpg");
  background-attachment: fixed;
  color: #fff; }

.page-wrapper {
  padding: 1rem; }

h1 {
  text-align: center;
  font-size: 4rem;
  padding-bottom: 2rem; }

#filters {
  opacity: 0.7; }

.form-check-inline {
  margin-left: 4rem; }

.checkboxes {
  padding-left: 50px; }

.border-custom {
  border-width: 2px !important;
  border-style: solid !important; }

.form-check-label {
  text-transform: uppercase; }

.checkbox {
  width: 32px;
  height: 32px; }

input.checkbox:checked {
  color: blue; }

.table {
  color: #fff;
  border-collapse: separate;
  border-spacing: 0 5px;
  transform: translateY(-6px); }

.table > thead {
  background-image: linear-gradient(#a5bdd1, #ffffff);
  color: #396687;
  opacity: 0.7;
  font-weight: 700; }

.table > tbody > tr {
  background-color: #fff;
  color: #000;
  opacity: 0.7; }

.table > tbody > tr > td {
  border: solid 1px #000;
  border-style: solid none;
  padding: 10px; }

.table > tbody > tr > td:first-child {
  border-left-style: solid;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem; }

.table > tbody > tr > td:last-child {
  border-right-style: solid;
  border-bottom-right-radius: 0.3rem;
  border-top-right-radius: 0.3rem; }

@media (min-width: 992px) {
  .page-wrapper {
    padding: 3rem 6rem; } }

@media (min-width: 992px) {
  .page-wrapper {
    padding: 3rem 6rem; }
  .checkboxes {
    text-align: right; }
  .table {
    display: table; }
  .form-check-inline {
    margin-left: 0; } }
